body
{
    text-align: start;
    color: rgb(26, 28, 32);
    background-color: white;
    margin: 0px;
}
section {
    width: 70%;
    margin: auto;
    background-color: whitesmoke;
}
header {
    width: 100%;
    height: 50px;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}
div {
    background-color: rgb(26, 28, 32);
    color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
    font-weight: bold;
}